@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  /* height: 100%;
  width: 100%; */
  scrollbar-width: none;
}

body {
  background: linear-gradient(90deg, rgba(23,26,38,1), rgba(46,61,89,1));
  /* background: rgb(23, 26, 38); */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* height: 100%;
  width: 100%; */
  overflow-x: hidden;

  position: absolute !important;
  z-index: 1;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

#__next {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* height: 100%;
  width: 100%; */
  overflow-x: hidden;
  /* @apply bg-dot-white/[0.2] bg-[rgba(23,26,38,1)] ; */
}

.vanta-canvas {
  filter: brightness(0.5);
}
