@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  /* height: 100%;
  width: 100%; */
}

body {
  /* background: linear-gradient(90deg, rgba(23,26,38,1), rgba(46,61,89,1)); */
  background: rgb(23,26,38); 

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* height: 100%;
  width: 100%; */
  max-width: 100%;
  width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}